{% extends 'main.html' %}

{% block content %}
<h1>HOMEPAGE</h1>
{% if request.user.is_authenticated %}
<a href="{% url 'display-user' %}">All user</a>
<form method="GET" action="{% url 'display-user' %}">
    <input type="search" name="interest" placeholder="Interest .. ">
    <button type="submit">Submit</button>
</form>
<br>
<a href="{% url 'edit-user' %}">Edit Profile</a>
<br>
{% if connect_request_user != None %}
{% for room_request in connect_request_user%}
<label>Connection Request from : {{room_request.sent_by.username}}  </label>
<a href="{% url 'room' room_request.id %}">Connect</a>
<br>
{% endfor %}

{% endif %}


{% endif %}
{% endblock %}