{% extends 'main.html' %}
{% load static %}
{% block content %}
<div>
    {%if users.count > 0  %}
    {% if Interest != None %}
    <h4>Topic : {{Interest}}</h4>
    <h6>Available User :  {{users.count}}</h6>
    {% endif %}
    {% for user in users %}
    <div>
        <a href="#">
        {% if user.online  %}
        <img class="indicator" src="{% static 'images/online.PNG' %}" />
        {% else %}
        <img class="indicator" src="{% static 'images/offline.PNG' %}" />
        {% endif %}
        {{user.username}}
        </a>
        <br>
        <a href="{% url 'connect-user' user.id %}">Connect</a>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <h3>No user is online except you </h3>
    <a href="{{request.META.HTTP_REFERER}}">GO BACK</a>
    {% endif %}
    
</div>

{% endblock %}